<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <property name="base_mass" value="90.0" />
  <property name="wheel_offset_x" value="0.285748" />
  <property name="wheel_offset_y" value="0.33675" />

  <xacro:macro name="rmp440le_base" params="name">

    <link name="${name}_link">
      
      <inertial>
	<mass value="${base_mass}" />
	<origin xyz="0.0 0.0 0.0" />
	<inertia ixx="1.25" ixy="0.0" ixz="0.0"
                 iyy="7.0" iyz="0.0" izz="8.0" />
      </inertial>

      <visual>
	<origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://rmp_description/meshes/rmp440le/base/base.stl" scale="0.001 0.001 0.001" />
        </geometry>

	<material name="Grey" />
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
	  <mesh filename="package://rmp_description/meshes/rmp440le/base/base_collision.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>

    </link>

    <link name="${name}_footprint">
     
      <inertial>
	<mass value="0.01" />
	<origin xyz="0.0 0.0 0.0" />
	<inertia ixx="0.01" ixy="0.0" ixz="0.01"
                 iyy="0.01" iyz="0.0" izz="0.01" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        
        <material name="White" />
      </visual>

      <collision>
        <origin xyz="0 0 0.0005" rpy="0 0 0" />
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry>
      </collision>

    </link>

    <joint name="${name}_footprint_joint" type="fixed">
      <origin xyz="0 0 0.2667" rpy="0 0 0" />
      <child link="${name}_link" />
      <parent link="${name}_footprint"/>
    </joint>

    <xacro:rmp440le_wheel name="left_front" parent="${name}_link" orientation="0">
      <origin xyz="${wheel_offset_x} ${wheel_offset_y} 0.0" rpy="0 0 0" />
    </xacro:rmp440le_wheel>

    <xacro:rmp440le_wheel name="left_rear" parent="${name}_link" orientation="0">
      <origin xyz="${-wheel_offset_x} ${wheel_offset_y} 0.0" rpy="0 0 0" />
    </xacro:rmp440le_wheel>

    <xacro:rmp440le_wheel name="right_front" parent="${name}_link" orientation="${M_PI}">
      <origin xyz="${wheel_offset_x} ${-wheel_offset_y} 0.0" rpy="0 0 0" />
    </xacro:rmp440le_wheel>

    <xacro:rmp440le_wheel name="right_rear" parent="${name}_link" orientation="${M_PI}">
      <origin xyz="${-wheel_offset_x} ${-wheel_offset_y} 0.0" rpy="0 0 0" />
    </xacro:rmp440le_wheel>

  </xacro:macro>

</robot>
